body{
	text-align: center;
	font-family: sans-serif;
	margin-top: 30px;
	background-color: #ffe6f2;
	color: #333333;
	margin-bottom: 100px;
}

img{
	width: 400px;
	border: solid black 3px;
	border-radius: 10px;
	background-color: white;
}

#button{
	width: 30%;
}

.footer{
	width: 100%;
	background-color: white;
	border: black 2px solid;
	color: black;
	position: fixed;
	bottom: 0;
	text-align: center;
}



